<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623212118504-ieu00dh6g7oiuhc1ub7h7fii89t4vl48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623212118504-ieu00dh6g7oiuhc1ub7h7fii89t4vl48</string>
	<key>API_KEY</key>
	<string>AIzaSyC2YIjdHwSV0dolBX20yQFMIhP7_2ui2I4</string>
	<key>GCM_SENDER_ID</key>
	<string>623212118504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Group-4.Workout</string>
	<key>PROJECT_ID</key>
	<string>elec3644project</string>
	<key>STORAGE_BUCKET</key>
	<string>elec3644project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623212118504:ios:f56970f1cd4921de1aa45d</string>
	<key>DATABASE_URL</key>
	<string>https://elec3644project-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>